.panel-default{
    background:#f7f7f7;
    .panel-heading{
        padding-top:2px;
        padding-bottom:2px;
        border:none;
         background:#f7f7f7;
    
    }
    
    .panel-footer{
        margin-bottom:2px;
        padding-bottom:2px;
        border-top:none;
        background:#fff;
    }
    .panel-body{
         padding-top:2px;
        padding-bottom:2px;
         background:#f7f7f7;
    }
}
